{{log this}}

{{>name}}
{{>embed}}

{{>header}}

<div class="webkite-results-wrapper">
  {{#if items.length}}
    {{#each (groupedItems this.items)~}}
      {{#if @key}}<h1 class="webkite-group-name">{{@key}}</h1>{{/if}}
        {{#each this~}}
          <section class="webkite-result{{~#unless (any (find facets name="Price #1") (find facets name="Price #2") (find facets name="Price #3"))}} webkite-no-price{{/unless~}}">
            <div class="webkite-block-group">
              
              <div class="webkite-block webkite-result-body-block">
                {{#facet name="Image URL"}}
                  <div class="webkite-image-wrapper">
                    <img src="{{displayValue}}"/>
                  </div>
                {{~/facet~}}
                <div class="webkite-result-body">
                  {{#facet name="Beer Name"}}
                    <h2>{{displayValue}}</h2>
                  {{/facet}}
                  
                  {{#facet name="Type"}}
                    <p class="webkite-beer-block webkite-beer-type">
                    {{#if filterable}}
                      {{#each values}}
                        <a href="#" class="webkite-add-filter" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>
                        {{~#unless @last}}, {{/unless}}
                      {{/each}}
                    {{else}}
                      {{displayValue}}
                    {{/if}}
                    </p>
                  {{/facet}}
                  
                  {{#any (find facets name="Price #1") (find facets name="Price #2") (find facets name="Price #3")}}
                    <ul class="webkite-block-group webkite-beer-prices xs-only">
                      {{#if (find facets name="Price #1")~}}
                        <li class="webkite-block">
                          {{#facet name="Price #1"}}
                            <em>{{displayValue}}</em>
                          {{/facet}}
                          {{#if (find facets name="Availability #1")}}
                            {{#if (find facets name="Price #1" sortable=true)}}
                              <a href="#" class="webkite-apply-sort" data-sort="Price #1">{{#facet name="Availability #1"}}{{displayValue}}{{/facet}}</a>
                            {{else}}
                              {{#facet name="Availability #1"}}{{displayValue}}{{/facet}}
                            {{/if}}
                          {{/if}}
                        </li>
                      {{~/if~}}
                      {{#if (find facets name="Price #2")~}}
                        <li class="webkite-block">
                          {{#facet name="Price #2"}}
                            <em>{{displayValue}}</em>
                          {{/facet}}
                          {{#facet name="Availability #2"}}{{displayValue}}{{/facet}}
                        </li>
                      {{~/if~}}
                      {{#if (find facets name="Price #3")~}}
                        <li class="webkite-block">
                          {{#facet name="Price #3"}}
                            <em>{{displayValue}}</em>
                          {{/facet}}
                          {{#facet name="Availability #3"}}{{displayValue}}{{/facet}}
                        </li>
                      {{~/if~}}
                    </ul>
                  {{/any}}
                  
                  {{#any (find facets name="Brewery") (find facets name="City") (find facets name="State") (find facets name="Country") (find facets name="Website")}}
                    <ul class="webkite-beer-block webkite-brewery-details">
                      {{~#facet name="Brewery"~}}
                        <li>
                          {{~#if filterable~}}
                            {{#each values}}
                              <a href="#" class="webkite-add-filter webkite-brewery"  data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>
                              {{~#unless @last}}, {{/unless}}
                            {{/each}}
                          {{~else~}}
                            <span class="webkite-brewery">{{displayValue}}</span>
                          {{~/if}}
                        </li>
                      {{~/facet~}}
                      {{~#any (find facets name="City") (find facets name="State") (find facets name="Country")~}}
                        <li class="webkite-brewery-location">
                          {{~#facet name="City"~}}
                            <span class="webkite-city" href="#">{{displayValue}}</span>
                            {{~#any (find ../facets name="State") (find ../facets name="Country")}}, {{/any}}
                          {{/facet}}
                          {{~#facet name="State"~}}
                            {{~#if filterable~}}
                              {{#each values~}}
                                <a href="#" class="webkite-add-filter webkite-state" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>
                                {{~#unless @last}}, {{/unless}}
                              {{~/each}}
                            {{~else~}}
                              <span class="webkite-state">{{displayValue}}</span>
                            {{~/if~}}          
                            {{~#if (find ../facets name="Country")}}, {{/if}}
                          {{/facet}}
                          {{~#facet name="Country"~}}
                            {{~#if filterable~}}
                              {{#each values~}}
                                <a href="#" class="webkite-add-filter webkite-country" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>
                                {{~#unless @last}}, {{/unless}}
                              {{~/each}}
                            {{~else~}}
                              <span class="webkite-country">{{displayValue}}</span>
                            {{~/if~}}          
                          {{/facet~}}    
                        </li>
                      {{~/any~}}
                      {{~#facet name="Website"~}}
                        <li><a href="{{displayValue}}" target="_blank">{{downcase displayName}}</a></li>
                      {{~/facet~}}
                    </ul>
                  {{/any}}
                  
                  {{#facet name="Description"~}}
                    <p class="webkite-beer-block">{{displayValue}}</p>
                  {{~/facet}}
                  
                  {{#any (find facets name="ABV") (find facets name="IBU") (find facets name="OG") (find facets name="FG") (find facets name="Color")}}
                    <div class="webkite-beer-block webkite-beer-stats-wrapper">
                      <ul class="webkite-beer-stats">
                        {{~#facet name="ABV"~}}
                          <li class="webkite-beer-abv"><em>{{displayName}}</em> {{displayValue}}</li>
                        {{~/facet~}}
                        {{~#facet name="IBU"~}}
                          <li class="webkite-beer-ibu"><em>{{displayName}}</em> {{displayValue}}</li>
                        {{~/facet~}}
                        {{~#facet name="OG"~}}
                          <li class="webkite-beer-og"><em>{{displayName}}</em> {{displayValue}}</li>
                        {{~/facet~}}
                        {{~#facet name="FG"~}}
                          <li class="webkite-beer-fg"><em>{{displayName}}</em> {{displayValue}}</li>
                        {{~/facet~}}
                        {{~#facet name="Color"~}}
                          <li class="webkite-beer-color"><em>{{displayName}}</em> {{displayValue}}</li>
                        {{~/facet~}}
                      </ul>
                    </div>
                  {{/any}}
                  
                  {{#any (find facets name="Yeast") (find facets name="Hops") (find facets name="Malt") (find facets name="Other") (find facets name="Awards")}}
                    <ul class="webkite-beer-block webkite-beer-details">
                      {{#facet name="Yeast"}}
                        <li class="webkite-beer-yeast">
                          <b>{{displayName}}:</b> {{displayValue}}
                        </li>
                      {{/facet}}
                      {{#facet name="Hops"}}
                        <li class="webkite-beer-hops">
                          <b>{{displayName}}:</b> {{displayValue}}
                        </li>
                      {{/facet}}
                      {{#facet name="Malt"}}
                        <li class="webkite-beer-malts">
                          <b>{{displayName}}:</b> {{displayValue}}
                        </li>
                      {{/facet}}
                      {{#facet name="Other"}}
                        <li class="webkite-beer-other">
                          <b>{{displayName}}:</b> {{displayValue}}
                        </li>
                      {{/facet}}
                      {{#facet name="Awards"}}
                        <li class="webkite-beer-awards">
                          <b>{{displayName}}:</b> {{displayValue}}
                        </li>
                      {{/facet}}
                    </ul>
                  {{/any}}
                </div>
              </div>
              
              {{~#any (find facets name="Price #1") (find facets name="Price #2") (find facets name="Price #3")~}}
                <div class="webkite-block webkite-result-price-block">
                  <ul class="webkite-beer-prices">
                    {{#if (find facets name="Price #1")~}}
                      <li>
                        {{#facet name="Price #1"}}
                          <em>{{displayValue}}</em>
                        {{/facet}}
                        {{#if (find facets name="Availability #1")}}
                          {{#if (find facets name="Price #1" sortable=true)}}
                            <a href="#" class="webkite-apply-sort" data-sort="Price #1">{{#facet name="Availability #1"}}{{displayValue}}{{/facet}}</a>
                          {{else}}
                            {{#facet name="Availability #1"}}{{displayValue}}{{/facet}}
                          {{/if}}
                        {{/if}}
                      </li>
                    {{~/if~}}
                    {{#if (find facets name="Price #2")~}}
                      <li>
                        {{#facet name="Price #2"}}
                          <em>{{displayValue}}</em>
                        {{/facet}}
                        {{#facet name="Availability #2"}}{{displayValue}}{{/facet}}
                      </li>
                    {{~/if~}}
                    {{#if (find facets name="Price #3")~}}
                      <li>
                        {{#facet name="Price #3"}}
                          <em>{{displayValue}}</em>
                        {{/facet}}
                        {{#facet name="Availability #3"}}{{displayValue}}{{/facet}}
                      </li>
                    {{~/if~}}
                  </ul>
                </div>
              {{~/any~}}
              
            </div>
          </section>
        {{/each}}
    {{/each}}
  {{else}}
    {{>noresult}}
  {{/if}}
</div>

{{>footer}}